body {
	margin: 0px;
}

#topMenu {
	/*background-color: #47A347;*/
	margin-top: 0px;
	text-align: center;
}

#topMenu h1 {
	width: auto;
	color: #001A66;
	margin: 0px;
}

#topMenuSub1 {
	background-color: #47A347;
	text-align: center;
	margin: 0px;
}

#topMenuSub2 {
	text-align: center;
	margin: 0px;
	background: -webkit-linear-gradient(#47A347, #002400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#47A347, #002400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#47A347, #002400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#47A347, #002400); /* Standard syntax (must be last) */
}

ul {
	margin: 0px;
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
}

li {
	padding: 0px 20px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
li:hover {
	background-color:rgba(0,255,0,0.3);
}

.formline {
	clear: both;
	width: 350px;
	padding: 10px;
}
.formline label {
	float: left;
	width: 150px;
	text-align: right;
}
.formline input {
	float: right;
	width: 150px;
	text-align: left;
}
#submitBtn {
		text-align: center;
	}
div.centerDiv{
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
}
div.centerBox {
	background-color: #e6eeff;
	width: 70%;
	margin: auto;
	padding-bottom: 50px;
}
.formLine {
	margin: 20px;
}
div.leftBox {
	background-color: #ccffb3;
	border-style: solid;
    border-width: 1px 5px 1px 5px;
	width: 14%;

	height: 1200px;
	float:left;
}
a.leftLinks{
			text-align: center;
			color: blue;
		}
div.leftLinks {
	margin-top: 20px;
}